numpy==1.26.4
spacy==3.4.1
absl-py==2.3.1
einops==0.4.1
pip==25.1
torch==2.9.0.dev20250706+cu128
safetensors==0.5.3
opt_einsum==3.4.0
pillow==11.2.1
xdg==6.0.0
hf-xet==1.1.5
nvidia-cusparselt-cu12==0.7.1
av==15.0.0
idna==3.10
zipp==3.23.0
scipy==1.13.1
torchvision==0.24.0.dev20250706+cu128
nvidia-cuda-nvrtc-cu12==12.8.93
charset-normalizer==3.4.2
eval_type_backport==0.2.2
networkx==3.2.1
scikit-learn==1.1.1
annotated-types==0.7.0
protobuf==5.29.5
keras==3.10.0
Markdown==3.8.2
catalogue==2.0.10
joblib==1.5.1
nvidia-nvtx-cu12==12.8.90
thinc==8.1.12
sentry-sdk==2.32.0
tensorflow-io-gcs-filesystem==0.37.1
iopath==0.1.10
torchaudio==2.8.0.dev20250706+cu128
ftfy==4.4.3
confection==0.1.5
pytz==2025.2
requests==2.32.4
pathlib_abc==0.1.1
nvidia-cusolver-cu12==11.7.3.90
psutil==7.0.0
yacs==0.1.8
nvidia-cufile-cu12==1.13.1.3
srsly==2.5.1
portalocker==3.2.0
libclang==18.1.1
MarkupSafe==2.1.5
nvidia-curand-cu12==10.3.9.90
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cublas-cu12==12.8.4.1
typer==0.4.2
PyYAML==6.0.2
python-dateutil==2.9.0.post0
certifi==2025.6.15
nvidia-cusparse-cu12==12.5.8.93
parameterized==0.9.0
filelock==3.18.0
transformers==4.27.0
pydantic_core==2.33.2
optree==0.17.0
pandas==1.4.2
language_data==1.3.0
wcwidth==0.2.13
Theano==1.0.5
pytorchvideo==0.1.5
regex==2024.11.6
nlg-eval==2.4.1
spacy-loggers==1.0.5
decord==0.6.0
nvidia-cuda-cupti-cu12==12.8.90
spacy-legacy==3.0.12
Werkzeug==3.1.3
langcodes==3.5.0
wasabi==0.10.1
sympy==1.14.0
cymem==2.0.11
pathy==0.11.0
setuptools==78.1.1
namex==0.1.0
packaging==25.0
gensim==3.8.3
threadpoolctl==3.6.0
huggingface-hub==0.33.2
Cython==3.1.2
wandb==0.21.0
smmap==5.0.2
gast==0.6.0
wheel==0.45.1
webencodings==0.5.1
html5lib==1.1
fsspec==2025.5.1
blis==0.7.11
torch-tb-profiler==0.4.3
six==1.17.0
click==8.1.8
google-pasta==0.2.0
nvidia-nvshmem-cu12==3.3.9
ml_dtypes==0.5.1
mdurl==0.1.2
nvidia-nccl-cu12==2.27.3
nltk==3.9.1
gitdb==4.0.12
Pygments==2.19.2
tensorboard==2.19.0
nvidia-nvjitlink-cu12==12.8.93
typing-inspection==0.4.1
timm==0.5.4
smart-open==6.4.0
h5py==3.14.0
murmurhash==1.0.13
astunparse==1.6.3
grpcio==1.73.1
tensorboard-data-server==0.7.2
mpmath==1.3.0
Jinja2==3.1.6
importlib_metadata==8.7.0
urllib3==2.5.0
rich==14.1.0
fvcore==0.1.5.post20221221
preshed==3.0.10
wrapt==1.17.2
accelerate==1.10.0
typing_extensions==4.14.0
nvidia-cudnn-cu12==9.10.2.21
pytorch-triton==3.3.1+gitc8757738
marisa-trie==1.2.1
nvidia-cufft-cu12==11.3.3.83
termcolor==3.1.0
GitPython==3.1.44
tqdm==4.67.1
markdown-it-py==3.0.0
tensorflow==2.19.0
pydantic==2.11.7
tokenizers==0.13.3
platformdirs==4.3.8
flatbuffers==25.2.10
tabulate==0.9.0
jaraco.text==3.12.1
zipp==3.19.2
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.functools==4.0.1
autocommand==2.2.2
tomli==2.0.1
typeguard==4.3.0
wheel==0.45.1
backports.tarfile==1.2.0
typing_extensions==4.12.2
platformdirs==4.2.2
packaging==24.2
more-itertools==10.3.0
jaraco.context==5.3.0
importlib_metadata==8.0.0
